.task{
    display: flex;
    gap: 10px;
    padding: 15px;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;

}
.leftPartTask {
    display: flex;
    gap: 10px;
    align-items: center;
}

.deleteButton {
    background-image: url("../../../assets/icons/task/trash-can.svg");
    background-color: white;
    background-size: cover;
    width: 25px;
    height: 25px;
    outline: none;
    border: none;
}

.tasksText {
    padding: 5px 10px;
}

