* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    display: flex;
    justify-content: center;
    background-color: #f3f0ff;
    min-height: 100vh;
    height: max-content;
    padding: 100px;
    font-family: Loma, serif;
}

.header {
    display: flex;
    align-items: center;
    background-color: #9c56dc;
    padding: 15px 10px;
    width: 100%;
    color: white;
    font-weight: bold;
    gap: 20px;
}
.navBarIcon {
    display:flex;
    justify-self: start;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    filter: invert(100%);
}
.title {
    display: flex;
    width: 100%;
    justify-self: center;

}
